:root {
  --primary-font-family: 'Roboto', sans-serif;
  --second-font-family: 'Raleway', sans-serif;

  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;

  --brand-default: var(--iris);
  --brand-pressed: var(--ocean);
  --text-primary: var(--slate);
  --text-secondary: var(--light-slate);
  --contrast-high: var(--navy-blue);
  --surface-primary: var(--white);
  --surface-default: var(--cloud);
  --surface-hero: var(--grey);
  --surface-modal: var(--dairy);
  --overlay-modal: var(--navy-blue-modal);
  --accent-subtle: var(--cornflower);
  --success: var(--green);
}

body {
  font-family: var(--primary-font-family);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-primary);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.logo {
  font-family: var(--second-font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.accent {
  color: var(--brand-default);
}

.modal-btn {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--surface-primary);
  background-color: var(--brand-default);
  cursor: pointer;

  &:hover {
    background-color: var(--brand-pressed);
  }
}

.section-title {
  font-size: 36px;
  line-height: 1.1;
  color: var(--contrast-high);
  text-align: center;
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--contrast-high);
}
