.header-logo {
  color: var(--contrast-high);
}

.nav-link {
  font-weight: 500;
  color: var(--contrast-high);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--brand-pressed);
}

.address {
  font-style: normal;
}

.address-link {
  color: inherit;
}

.address-link:hover,
.address-link:focus {
  color: var(--brand-pressed);
}
