.team {
  background-color: var(--surface-default);
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  flex-basis: calc((100% - 72px) / 4);
  background-color: var(--surface-primary);
}

.team-content-wrapper {
  padding: 32px 16px;
  border-radius: 0 0 4px 4px;
}

.team-subtitle,
.team-text {
  text-align: center;
}

.team-subtitle {
  margin-bottom: 8px;
}
